.professions_card-button{
	color: white;
	background-color: #0051a6;
	font-size: 20px;
	padding: 7px 14px;
	transition: all 0.6s ease-in-out;
	opacity: 0;
	visibility: hidden;
	@include screen(lg){
		font-size: 17px;
	}
	@include screen(sm){
		font-size: 16px;
	}
	&:hover{
		background-color: #1d58a5;
	}
	&_visible{
		opacity: 1;
		visibility: visible;
	}
}