.feedback{
	background: #00af88;
	background-image: url(~@/assets/img/feedback_gradient.jpg);
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	padding-bottom: 100px;
}