.professions__card-image {
	position: absolute;
	bottom: 30px;
	left: -70px;
	background-size: cover;
	background-repeat: no-repeat;
	width: 180px;
	height: 180px;
	background-image: url(~@/assets/img/firefighter.svg);
	opacity: 0.3;
}
