.professions__content {
	width: 100%;
	height: 220px;
	@include screen(lg){
		height: initial;
	}
	.col-xl-4{
		height: 220px;
		position: relative;
		@include screen(lg){
			height: initial;
		}
	}
	// .col-xl-8 {
	// 	position: relative;

	// }
}
