@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic,cyrillic-ext,latin-ext");

#app {
	overflow: hidden;
}

body {
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0.65px;
	color: black;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	letter-spacing: 0.02em;
}
